<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{% trans %}CLOSE{% endtrans %}</button>
    <button type="submit" class="btn btn-primary">{% trans %}SAVE{% endtrans %}</button>
</div>
